.pages {
    margin: 10px 20px;
  
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
  
      h1 {
        flex: 2;
        text-transform: capitalize;
      }
  
      p{
        flex:3;
        color:gray;
        

      }
    }
  
    .bottom{
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }